* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 2px 8px 37px 0px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 2px 8px 37px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 2px 8px 37px 0px rgba(0, 0, 0, 0.41);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10px;
}

.card__left h1 {
    margin: 15px 0 0 0;
    font-size: 25px;
}

.card__left p {
    color: gray;
}

.card__left span {
    font-weight: 400;
}